@font-face{
  font-family: "nunito";
  font-style:normal;
  font-weight: 100;
  src: local('./FredokaOne-Regular.ttf'),
  url("./FredokaOne-Regular.ttf")
}

body {
  margin: 0;
  padding: 0;
  font-family: "nunito",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maroon{
  border-color: #9e0303;
}
